.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.about-me {
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.profile-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.info {
    flex: 1;
    padding-left: 30px;
}

.info h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

.info ul {
    list-style: none;
}

.info li {
    margin-bottom: 10px;
    color: #666;
}

.info li strong {
    color: #333;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
    .about-me {
        flex-direction: column;
        align-items: center;
    }

    .profile-img img {
        margin-bottom: 20px;
    }

    .info {
        padding: 0;
    }
}

/* Style for the new sections */
.career,
.education,
.experience,
.expertise,
.language-skills,
.other-skills {
  margin-top: 30px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.career h2,
.education h2,
.experience h2,
.expertise h2,
.language-skills h2,
.other-skills h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.career p,
.education p {
  color: #666;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
}

/* Media Query for Responsive Design (you can add this to your existing media query) */
@media (max-width: 768px) {
  /* ... (existing styles) */

  .info {
    padding: 0;
  }

  /* Add styling for the new sections in responsive view */
  .career,
  .education,
  .experience,
  .expertise,
  .language-skills,
  .other-skills{
    padding: 20px;
  }
}
